@charset "UTF-8";
@import "initial";

// 載入思源黑體，使用方式如下
// font-family: 'Noto Sans TC', sans-serif;
// font-weight: 900;
// @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@400;700&display=swap');

*{
  box-sizing: border-box;
  transition: font-size 0.3s, padding 0.3s, top 0.3s, right 0.3s, width 0.3s, max-width 0.3s, border-radius 0.3s;
}

// 修正 sweetalert2.js 會在 body 的標籤下增加 padding-right 的問題，猜測是 sweetalert2.js 要扣除卷軸寬度。
body {
  padding-right: 0 !important;
}

figure{
  margin: 0;
}
dl{
  dd{
    margin: 0;
  }
}
ul.nav{
  li{
    a{
      font-weight: bold;
      color: #64442a;
    }
  }
}

.ossian{
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  padding: 0;
  max-width: 1920px;
  font-weight: bold;
  line-height: 1.4;
  // background-image: url(../images/bg.png);
  // background-image: url(../images/demo.png);
  background-repeat: no-repeat;
  background-position: top center;
  // &.lo{
  //   background-image: url(../images/gacha-machine/bg.jpg);
  // }
}

button.btn{
  padding: 0.25em 1em 0.35em 1em;
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
  background-color: $custom-3;
  border-color: $custom-3;
}

// 網站標題

.site-title{
  position: relative;
  margin: 0 auto;
  padding: 7em 1em 1em 1em;
  max-width: 605px;
  img{
    width: 100%;
  }
  &.lo{
    padding: 1em;
    max-width: 768px;
  }
}

// 童話 LOGO

.game-logo{
  display: block;
  margin: 0 auto;
  // padding-top: 6em;
  max-width: 196px;
}

// 登入雷爵會員

.lager-member{
  padding: 3em 1em 1em 1em;
}

dl.lager-member-layout{
  display: grid;
  // grid-template-columns: 194px 1fr;
  margin: 0 auto;
  padding: 0;
  max-width: 550px;
  background-color: $custom-4;
  border-radius: 20px;
  dd{
    position: relative;
    margin: 0;
    &:nth-child(2){
      // padding: 1em 1em 1em 0;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 140px;
    }
  }
}

.login-lager{
  display: inline-block;
  padding: 0.5rem;
  max-width: 270px;
  width: 100%;
  font-size: 1.875em;
  font-weight: bold;
  color: $custom-5;
  text-align: center;
  text-decoration: none;
  background: linear-gradient(to bottom,  rgba(248,204,255,1) 48%,rgba(251,157,241,1) 50%);
  border-color: transparent;
  border-radius: 10px;
  appearance: none;
  outline: none;
}

.gift-status{
  color: $custom-1;
  text-align: center;
  h3.member-id{
    margin: 0;
    padding: 0;
    font-size: 1.875rem;
    text-shadow: 0 1px 1px black;
  }
  >.gift-info{
    font-size: 1.25em;
    mark{
      padding: 0 0.25em;
      color: white;
      background-color: $custom-3;
      border-radius: 3px;
    }
    em{
      color: white;
      font-style: normal;
    }
  }
}

// 南瓜

figure.nan-gua{
  position: absolute;
  bottom: 0;
  left: -15px;
}

// 自訂 sweetalert2 樣式 ............................................................

.swal2-container{
  font-family: $document-font-family;
}

// sweetalert2 底色

div:where(.swal2-container) div:where(.swal2-popup){
  background: $custom-1;
  border: 10px solid $custom-2;
  border-radius: 20px;
  box-shadow: 0 2px 1px rgba(255, 255, 255, 0.85) inset, 0 -2px 1px rgba(255, 255, 255, 0.5) inset;
}

div:where(.swal2-container).swal2-backdrop-show, div:where(.swal2-container).swal2-noanimation {
    background: rgba(0,0,0,.8);
}

// sweetalert2 close 顏色

.swal2-close{
  color: $custom-2;
}

// sweetalert2 標題設定

div:where(.swal2-container) h2:where(.swal2-title){
  padding: 0.25em 1em;
  color: $document-default-color;
  // border-bottom: 3px dashed $custom-2;
}

// 修改預設的文字顏色

div:where(.swal2-container) div:where(.swal2-popup){
  color: inherit;
}

// sweetalert2 包含 html 內容的容器

.swal2-html-container{
  >ul{
    margin: 0;
    padding-left: 1.5em;
    li{
      text-align: left;
      line-height: 1.5;
      border-bottom: 1px dotted $custom-2;
    }
  }
}

div:where(.swal2-container) .swal2-html-container{
  margin: initial;
  padding: 0.5em 1em 1em 1em;
}

// sweetalert2 OK 的按鈕設定
// 移除按鈕 outline

.swal2-popup .swal2-styled{
  font-weight: bold;
  background-color: $custom-3;
  border-radius: 8px;
  outline: none;
}
.swal2-popup .swal2-styled:focus,
.swal2-close:focus {
  box-shadow: none !important;
}

// 清除按鈕區塊的 margin

div:where(.swal2-container) div:where(.swal2-actions){
  margin: initial;
}

// 14 日簽到禮 ......................................................................

section.sign-in-gifts{
  >article{
    padding: 0 1em 1em 1em;
  }
}

ul.sign-in-section{
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
  margin: 0 auto;
  padding: 0 0 1em 0;
  max-width: 1200px;
  list-style: none;
  li{
    min-width: 150px;
  }
}

dl.reward{
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
  dt.reward-date{
    margin: 0 auto;
    padding: 0.25rem 0.5rem;
    width: 90%;
    text-align: center;
    color: $custom-1;
    font-size: 1.5em;
    font-weight: bold;
    background-color: #8e572f;
    background-image: url(../images/right-light.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border: 1px solid #8e572f;
    box-shadow: 0 2px 1px #c17740;
  }
  dd.reward-gift{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0;
    padding: 1em;
    width: 100%;
    text-align: center;
    background-color: $custom-1;
    box-shadow: 0 2px 2px #e4b367 inset, 0 -2px 2px #e4b367 inset;
    border-radius: 10px;
    > figure{
      flex: 1;
      margin: 0 auto;
      padding: 0;
      height: 100%;
      img{
        width: 70px;
      }
      > figcaption{
        padding: 0.75em 0;
        text-align: center;
        height: 100%;
      }
    }
    >button{
      margin: initial;
      padding: 0.45em 0.5em;
      width: 100%;
      font-size: 1.125rem;
      color: $custom-2;
      background-color: transparent;
      border: 1px solid $custom-2;
      border-radius: 7px;
      &:disabled,
      &[disabled]{
        cursor: default;
      }
    }
  }
  // 活動未開始
  &.not-started{
    dd.reward-gift{
      position: relative;
      >button{
        color: $custom-2;
        background-color: transparent;
        border: 1px solid $custom-2;
      }
    }
  }
  // 已領取
  &.received{
    dd.reward-gift{
      &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../images/water-mark.png);
        background-repeat: no-repeat;
        background-position: center;
        z-index: 1;
        animation: zoom 0.3s;
      }
      >button{
        color: $custom-2;
        background-color: transparent;
        border: 1px solid $custom-2;
      }
    }
  }
  // 我要補簽
  &.re-signing{
    dd.reward-gift{
      >button{
        color: $custom-3;
        background-color: transparent;
        border: 1px solid $custom-3;
      }
    }
  }
  // 活動結束
  &.event-ends{
    dd.reward-gift{
      >button{
        color: $custom-2;
        background-color: transparent;
        border: 1px solid $custom-2;
      }
    }
  }
  // 領取獎勵
  &.receive{
    dd.reward-gift{
      >button{
        color: white;
        background-color: $custom-3;
        border-color: $custom-3;
      }
    }
  }
}

// 玩家好禮

section.player-gifts{
  position: relative;
  padding: 6.5em 1em 2em 1em;
  width: 100%;
  
  article{
    margin: 0 auto;
    padding: 2em 0.5em 1em 0.5em;
    max-width: 1200px;
    font-size: 1.25em;
    text-align: center;
    background-color: $custom-1;
    border: 10px solid $custom-2;
    border-radius: 20px;
    box-shadow: 0 2px 1px white inset, 0 -2px 1px #e4b367 inset;
    strong{
      color: $custom-8;
    }
    em{
      font-style: normal;
      color: $custom-3;
    }
  }
  &.five-year{
    article{
      background-image: url(../images/gift-bg.png);
      background-repeat: no-repeat;
      background-position: bottom center;
    }
  }
  &.guestbook{
    article{
      background-image: url(../images/guestbook-bg.png);
      background-repeat: no-repeat;
      background-position: bottom center;
    }
  }
  &.design{
    article{
      padding: initial;
      background-image: url(../images/grid.png);
    }
  }
  &.carnivals{
    article{
      background-image: url(../images/new.png);
      background-repeat: no-repeat;
      background-position: bottom center;
    }
  }
}

figure.player-gift-title{
  position: absolute;
  left: calc(50% - 146px);
  top: 0;
  margin: 0;
  max-width: 292px;
  img{
    width: 100%;
  }
  +h3{
    margin: 0;
    padding-bottom: 1rem;
    font-size: 1.75rem;
    line-height: 1.25;
    em{
      color: $custom-3;
      // animation: color 0.3s infinite;
    }
  }
}

@keyframes color {
  0%{
    color: $custom-3;
  }
  50%{
    color: black;
  }
  100%{
    color: $custom-3;
  }
}


ul.gifts-group{
  display: flex;
  gap: 1em;
  margin: 0 auto;
  padding: 0 0 1em 0;
  max-width: 800px;
  list-style: none;
  li.gifts{
    overflow: hidden;
    width: 100%;
    border: 1px solid $custom-7;
    border-radius: 10px;
    dl.gifts-description{
      dd{
        button.btn{
          color: $custom-2;
          border: 1px solid $custom-2;
          background-color: transparent;
          cursor: default;
        }
      }
    }
    // 領取獎勵
    &.receive{
      dl.gifts-description{
        dd{
          button.btn{
            color: white;
            border: 1px solid $custom-3;
            background-color: $custom-3;
            cursor: pointer
          }
        }
      }
    }
    // 已領取
    &.received,
    // 活動未開始
    &.not-started,
    // 活動結束
    &.event-ends{
      dl.gifts-description{
        dd{
          button.btn{
            color: $custom-2;
            border: 1px solid $custom-2;
            background-color: transparent;
            cursor: default;
          }
        }
      }
    }
  }
}

dl.gifts-description{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100%;
  dt, dd{
    margin: 0;
  }
  dt{
    padding: 0.45rem 1rem;
    color: $custom-3;
    font-size: 1.75rem;
    background-color: white;
  }
  dd{
    padding: 1rem;
    flex: 1;
    background-color: $custom-6;
    background-image: url(../images/sun.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    figure{
      padding-bottom: 0.5em;
      img{
        transform: scale(1);
        transition: transform 0.3s;
      }
    }
  }
  &:hover{
    dd{
      figure{
        img{
          transform: scale(1.2);
        }
      }
    }
  }
}

// 老玩家回歸禮

hgroup.player-title{
  padding: 0;
  h2{
    margin: 0 auto;
    padding: 0.35rem 1rem;
    color: $custom-3;
    font-size: 1.75rem;
    width: 100%;
    background-color: white;
    border-radius: 5em;
    
  }
  &.w-1100{
    h2{
      max-width: 1100px;
    }
  }
  &.w-800{
    h2{
      max-width: 800px;
    }
  }
}

ul.old-player{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  gap: 1em;
  margin: 0;
  padding: 0 0 1em 0;
  // max-width: 1100px;
  list-style: none;
  li.gifts{
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 3.5em;
    .old-player-content{
      button.btn{
        color: $custom-2;
        border: 1px solid $custom-2;
        background-color: transparent;
        cursor: default;
      }
    }
    > figure.old-player-gift-icon{
      position: absolute;
      top: 0;
      left: calc(50% - 75px);
      img{
          transform: scale(1);
          transition: transform 0.3s;
        }
    }
    &:hover{
      > figure.old-player-gift-icon{
        img{
          transform: scale(1.2);
        }
      }
    }
    .old-player-content{
      display: flex;
      flex-direction: column;
      flex: 1;
      padding: 4.5rem 1rem 1rem 1rem;
      text-align: initial;
      background-color: white;
      background-repeat: no-repeat;
      background-position: top center;
      border-radius: 10px;
      .content-box{
        padding-bottom: 1em;
        flex: 1;
      }
    }
    &:nth-child(1){
      .old-player-content{
        background-image: url(../images/tag-1.png);
      }
    }
    &:nth-child(2){
      .old-player-content{
        background-image: url(../images/tag-2.png);
      }
    }
    &:nth-child(3){
      .old-player-content{
        background-image: url(../images/tag-3.png);
      }
    }
    &:nth-child(4){
      .old-player-content{
        background-image: url(../images/tag-4.png);
      }
    }
    &:nth-child(5){
      .old-player-content{
        background-image: url(../images/tag-5.png);
      }
    }

    // 領取獎勵
    &.receive{
      >.old-player-content{
        button.btn{
          color: white;
          border: 1px solid $custom-3;
          background-color: $custom-3;
          cursor: pointer
        }
      }
    }
    // 已領取
    &.received,
    // 活動未開始
    &.not-started,
    // 活動結束
    &.event-ends{
      >.old-player-content{
        button.btn{
          color: $custom-2;
          border: 1px solid $custom-2;
          background-color: transparent;
          cursor: default;
        }
      }
    }

  }
}

// 實體獎勵

ul.entity-rewards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 1em 0.5em;
  list-style: none;
  max-width: 800px;
  width: 100%;
}

// 注意事項

.event-note{
  article{
    margin: 0 auto;
    padding: 1em;
    color: white;
    max-width: 800px;
    width: 100%;
    hgroup{
      text-align: center;
      background-image: url(../images/title-line.png);
      background-repeat: repeat-x;
      background-position: center;
      h2{
        margin: 0;
        padding: 0 0.5em;
        display: inline-block;
        font-size: 1.75rem;
        background-color: $document-bg-color;
      }
    }
    >ul{
      line-height: 1.5;
      font-size: 1.25em;
      font-weight: initial;
      li{
        span{
          color: $custom-9;
          >mark{
            color: white;
            background-color: unset;
          }
        }
        a{
          color: white;
        }
      }
    }
  }
}

// 五周年簽到

dl.five-year-gifts{
  overflow: hidden;
  margin: 0 auto;
  max-width: 800px;
  border: 1px solid $custom-2;
  border-radius: 20px;
  dt{
    padding: 0.35rem 1rem;
    color: $custom-3;
    text-align: center;
    font-size: 1.75rem;
    background-color: white;
  }
  dd{
    margin: 0;
    padding: 1em;
    color: $custom-1;
    text-align: initial;
    background-color: $custom-2;
  }
}

ul.five-year-note{
  margin: 0;
  // padding: 0 0 0 2em;
  list-style-image: url(../images/gou.png);
  li{
    em{
      color: white;
    }
  }
}

// 童話留言板

dl.guestbook-note{
  margin: 0;
  padding-bottom: 2em;
  dd{
    margin: 0 auto;
    padding: 1em;
    max-width: 700px;
    background-color: $custom-10;
    border: 1px solid #f8d485;
    border-radius: 10px;
    box-shadow: 0 2px 2px #fff2c3 inset, 0 -2px 1px #f2d794 inset;
  }
}
form.guestbook-form{
  margin: 0 auto;
  max-width: 550px;
  > textarea{
    padding: 1em;
    width: 100%;
    border-radius: 10px;
    border: none;
  }
}
.input-bar{
  display: grid;
  grid-template-columns: 200px 1fr;
  text-align: initial;
  width: 100%;
  >div{&:nth-child(1){
    .btn{
      width: 100%;
    }
  }
    &:nth-child(2){
      text-align: right;
    }
  }
}
.number{
  >span{
    color: red;
  }
}

// 留言區

section.comments-group{
  padding: 0 1em 1em 1em;
  article{
    margin: 0 auto;
    max-width: 700px;
  }
}

dl.comment{
  padding: 1em;
  background-color: $custom-10;
  background-image: url(../images/sun.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  border-radius: 10px;
  dt{
    border-bottom: 2px dashed $custom-2;
    ul.comment-bar{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 1em;
      margin: 0;
      padding: 0;
      list-style: none;
      li{
        padding: 0 0 0.5em 0;
        &:nth-child(1){
          padding-left: 1em;
          background-image: url(../images/dot.png);
          background-repeat: no-repeat;
          background-position: left 5px;
        }
        &:nth-child(2){
          text-align: right;
        }
      }
    }
  }
  dd{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    font-size: 1.5em;
  }
}

// 分頁
.page-zone{
  padding-bottom: 2em;
  text-align: center;
}
article.page-group{
  text-align: center;
}
ul.page-no{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0 0 1em 0;
  list-style: none;
  
  li{
    a{
      display: block;
      padding: 0.25em 0.5em;
      width: 1.85em;
      font-size: 1.25em;
      color: $custom-10;
      text-align: center;
      text-decoration: none;
      border-radius: 50%;
      &.focus{
        color: white;
        background-color: #033119;
      }
    }
  }
}

// 新幻獸設計大賽

.design-plan{
  // position: relative;
  padding: 2em 0.5em 1em 0.5em;
  background-image: url(../images/text-bg.png);
  background-repeat: no-repeat;
  background-position: top center;
  border-radius: 10px;
}

.design-container{
  position: relative;
  margin: 0 auto;
  max-width: 700px;
}

dl.chat{
  position: relative;
  padding: 1em;
  // max-width: 500px;
  text-align: initial;
  background-color: white;
  border: 1px solid $custom-7;
  border-radius: 20px;
  box-shadow: 3px 3px 1px rgba(142, 87, 47, 0.4);
  z-index: 2;
  &::before{
    content: '';
    position: absolute;
    // right: -94px;
    // top: calc(50% - 23px);
    width: 94px;
    height: 45px;
    background-image: url(../images/chat-bar.png);
    background-repeat: no-repeat;
    background-position: center;
  }
}
figure.tu{
  position: absolute;
  max-width: 275px;
  z-index: 1;
  animation: jump 1s infinite ease-in-out;
  img{
    width: 100%;
  }
}

@keyframes jump {
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(0);
  }
}

dl.design-note{
  position: relative;
  overflow: hidden;
  border: 1px solid $custom-9;
  border-radius: 20px;
  box-shadow: 0 3px 2px #bd9575;
  border-radius: 20px;
  z-index: 2;
  dt{
    padding: 0.5rem 1rem;
    font-size: 1.75rem;
    color: $custom-3;
    height: 100%;
    background-color: white;
  }
  dd{
    padding: 1em;
    text-align: initial;
    background-color: $custom-10;
  }
}

ul.design-items{
  margin: 0;
  padding: 0 0 0 1em;
  a{
    color: $custom-3;
  }
}

ol.online-buy{
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: center;
  margin: 0;
  padding: 1em 0 0 0;
  list-style: none;
  li{
    &:nth-of-type(1){
      max-width: 206px;
    }
    &:nth-of-type(2){
      max-width: 127px;
    }
    &:nth-of-type(3){
      max-width: 158px;
    }
    a{
      
      &:hover{
        img{
          transform: scale(0.9);
        }
      }
      img{
        transform: scale(1);
        width: 100%;
        transition: transform 0.3s;
      }
    }
  }
}

// 獎品資訊

section.gifts-info{
  article{
    margin: 0 auto;
    padding: 0 1em;
    max-width: 1000px;
  }
}
dl.gift-content{
  display: flex;
  // flex-direction: row;
  gap: 1em;
  dd{
    font-size: 1.25rem;
    font-weight: bold;
    h3{
      margin: 0;
      padding: 0 0 0.5rem 0;
      color: $custom-3;
      font-size: 1.875rem;
    }
    em{
      color: $custom-3;
      font-style: normal;
    }
    &:nth-child(1){
      text-align: center;
    }
    &:nth-child(2){
      padding: 1em;
      background-color: $custom-10;
      background-image: url(../images/sun.png);
      background-repeat: no-repeat;
      background-position: bottom right;
      border-radius: 20px;
    }
  }
}

// 判斷會員是否有登錄，預設是沒登錄。

.login-lager {
  display: block;
}

.gift-status {
  display: none;
}

// 五周年嘉年華
// 活動前言

dl.fifth{
  margin: 0 auto;
  max-width: 800px;
  padding: 1em;
  text-align: initial;
  background-color: white;
  border: 1px solid #f8d485;
  border-radius: 20px;
  .flash{
    animation: color 0.3s infinite;
  }
}

// 滑鼠墊

.mouse{
  margin: 0 auto;
  padding-top: 1em;
  max-width: 300px;
  img{
    width: 100%;
  }
  figcaption{
    padding-top: 0.5em;
    font-size: 0.75em;
    text-align: center;
  }
}

// 獎品清單

.gifts-list{
  padding: 1em;
}

dl.gifts-field{
  display: flex;
  
  // align-items: center;
  justify-content: center;
  gap: 1em;
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
  dd{
    margin: 0;
    padding: 0;
    text-align: justify;
    color: $custom-10;
    // &:nth-of-type(1){
    //   max-width: 349px;
    // }
    // &:nth-of-type(2){
    //   width: 100%;
    // }
  }
}

ul.pc-list{
  margin: 0;
  padding-right: 1em;
  li{
    padding: 0.25em 0;
    line-height: 1.25;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
}

figure.make-pc{
  margin: 0 auto;
  max-width: 349px;
  img{
    width: 100%;
  }
}
figure.host{
  margin: 0 auto;
  max-width: 300px;
  img{
    width: 100%;
    cursor: pointer;
  }
}

figure.get-pc-photo{
  margin: 0 auto;
  padding: 1em 0;
  max-width: 300px;
  img{
    width: 100%;

    // border: 10px solid white;
    // border-radius: 10px;
  }
}

.pc-description{
  font-size: 20px;
  mark{
    color: $custom-3;
    background-color: $custom-10;
    animation: colorFlash 0.8s infinite;
  }
  em{
    font-style: normal;
    color: white;
  }
}
@keyframes colorFlash{
  0%{
    color: $custom-3;
    background-color: $custom-10;
  }
  50%{
    color: $custom-10;
    background-color: $color-pink-2;
  }
  100%{
    color: $custom-3;
    background-color: $custom-10;
  }
  
}

ul.gift-items{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em 0.5em;
  margin: 0;
  padding: 0;
  list-style: none;
  color: $custom-2;
  li{
    padding: 1em 0.5em;
    text-align: center;
    width: 100%;
    background-color: $custom-1;
    border: solid 5px $custom-2;
    border-radius: 10px;
    figure{
      img{
        border-radius: 5px;
      }
    }
    > h4{
      margin: 0;
      padding: 0.5em 0 0.35em;
      font-size: 1.125em;
      line-height: 1.25;
    }
    > .number{
      font-size: 1.25em;
      color: #ff9040;
      em{
        margin-right: 0.25em;
        padding: 0.15em 0.5em;
        font-size: 0.875rem;
        font-style: normal;
        color: #286f9c;
        border: 2px solid white;
        border-radius: 5px;
      }
    }
    >.probability{
      padding: 0.5em 0 0;
    }
  }
}

// 全新幻獸

dl.carnival{
  display: flex;
  // flex-direction: row;
  gap: 1em;
  margin: 0 auto;
  max-width: 800px;
  padding: 1em;
  text-align: initial;
  background-color: white;
  border: 1px solid #f8d485;
  border-radius: 20px;
  dd{
    position: relative;
    h3{
      color: $custom-3;
    }
  }
}

p.flag{
  padding-left: 0.75em;
  background-image: url(../images/san-jiao.png);
  background-repeat: no-repeat;
  background-position: left center;
  em{
    font-style: normal;
    color: $custom-3;
  }
}

ul.attributes{
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em 0.25em;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
  &.center{
    justify-content: center;
  }
  li{
    padding: 0 0.5em;
    background-color: #fff3b9;
    border: 1px solid #e7d998;
    border-radius: 5em;
    box-shadow: 0 1px 0 #fff inset;
    em{
      font-style: normal;
      color: $custom-3;
    }
  }
}

dl.objs{
  margin: 0 auto;
  padding: 1em;
  display: flex;
  gap: 1em;
  align-items: stretch;
  justify-content: center;
  dd{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    width: 100%;
    figure{
      margin: 0;
      padding: 0;
      max-width: 420px;
      img{
        width: 100%;
      }
    }
    .obj-des{
      flex: 1;
      padding: 1rem;
      background-color: #e5e5e5;
      background-image: url(../images/jue.png);
      background-repeat: no-repeat;
      background-position: center 1em;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      bottom: 0;
      h2{
        color: $custom-3;
      }
    }
  }
}

// 回歸之心說明

figure.heart-img{
  padding-top: 0.75em;
  width: 100%;
  text-align: center;
  img.heart{
    cursor: pointer;
  }
}


// 右側懸浮Banner

.fixed{
  margin: 0 auto;
  padding: 0 0 3em;
  width: 235px;
  animation: float 1s infinite;
}

@keyframes float {
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(1em);
  }
  100%{
    transform: translateY(0);
  }
}

// 扭蛋活動 layout

dl.gacha-info{
  margin: 0 auto;
  display: grid;
  gap: 0 1em;
  max-width: 1200px;
}

// 扭蛋活動說明

ul.gacha-info-list{
  padding: 0 1em 0 2em;
  font-size: 1.25em;
  color: white;
  li{
    padding: 0.5em 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  span{
    color: $custom-9;
  }
}

// 雪怪扭蛋機

.gacha-machine{
  position: relative;
  margin: 0 auto;
  max-width: 734px;
  > figure{
    margin: 0;
    padding: 0;
  }
}

.gacha-chat{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 1em;
  // left: 1em;
  // width: 202px;
  // height: 152px;
  // font-size: 1.75em;
  line-height: 1.25;
  background-image: url(../images/gacha-machine/chat.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 3;
  animation: float 1s infinite;
  &::before{
    content: '';
    position: absolute;
    // bottom: -0.5em;
    // right: -0.35em;
    // width: 63px;
    // height: 52px;
    background-image: url(../images/gacha-machine/chat-2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    animation: float 1s infinite;
  }
  em{
    color: red;
    font-style: normal;
  }
  .text-1,
  .text-2,
  .text-3,
  .text-4,
  .text-5{
    display: none;
  }
}
.gacha-btn{
  position: absolute;
  background-image: url(../images/gacha-machine/lottery-button.png);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: unset;
  outline: unset;
  z-index: 3;
  cursor: pointer;
  animation: zoom2 1s infinite;
  span{
    display: none;
  }
  &.rotate{
    animation: btnRotate 0.5s ease-out;
  }
}

@keyframes btnRotate {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.lager-member2{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 3em;
  width: 100%;
  z-index: 3;
  a{
    max-width: 380px;
    img{
      width: 100%;
    }
  }
}

.gacha-body{
  position: relative;
  z-index: 2;
  img{
    width: 100%;
  }
}
.gacha-ball{
  position: absolute;
  bottom: 8em;
  z-index: 2;
  
  img{
    width: 100%;
  }
  &.down{
    bottom: 0;
    transition: bottom 0.3s ease-out;
  }
}

.gacha-hole{
  position: absolute;
  bottom: 0;
  z-index: 1;
  img{
    width: 100%;
  }
}

// 雪怪扭蛋機的設定

.gacha-machine{
  .text-1{
    display: unset;
  }
  .gacha-ball,
  .gacha-btn{
    display: none;
  }
  &.logged{
    .text-2{
      display: unset;
    }
    .gacha-ball,
    .gacha-btn{
      display: unset;
    }
    .text-1,
    .lager-member2{
      display: none;
    }
  }
  &.zone{
    .text-3{
      display: unset;
    }
    .gacha-ball,
    .gacha-btn{
      display: unset;
    }
    .text-1,
    .gacha-ball,
    .gacha-btn,
    .lager-member2{
      display: none;
    }
  }
  &.unstart{
    .text-4{
      display: unset;
    }
    .gacha-ball,
    .gacha-btn{
      display: unset;
    }
    .text-1,
    .gacha-ball,
    .gacha-btn,
    .lager-member2{
      display: none;
    }
  }
  &.finished{
    .text-5{
      display: unset;
    }
    .gacha-ball,
    .gacha-btn{
      display: unset;
    }
    .text-1,
    .gacha-ball,
    .gacha-btn,
    .lager-member2{
      display: none;
    }
  }
}

// table setting

table.table{
  width: 100%;
  line-height: 1;
  border-collapse: collapse;
  thead{
    color: $custom-9;
    border-bottom: 3px solid $custom-9;
    tr{
      th{
        padding-bottom: 0.5em;
        font-size: 0.875em;
        &:nth-child(1),
        &:nth-child(3){
          width: 60px;
        }
      }
    }
  }
  tbody{
    tr{
      background-color: white;
      border-bottom: 1px solid $custom-9;
      transition: background-color 0.3s;
      td{
        padding: 0.25em 0;
        em.time{
          display: block;
          font-size: 12px;
          line-height:2;
        }
        &:nth-child(2){
          text-align: left;
        }
        &:nth-child(3){
          text-align: center;
        }
      }
      &:hover{
        background-color: $custom-1;
      }
    }
  }
}

// 椰子島

.island{
  margin: 0 auto;
  padding: 0 1em 1em 1em;
  max-width: 755px;
  img{
    width: 100%;
  }
}

// 鑰匙圈的 popup

#key{
  margin: 0 auto;
  position: relative;
  width: 50px;
  cursor: pointer;
  &::before{
    content: '';
    position: absolute;
    top: -3px;
    right: -3px;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    animation: big 0.3s infinite;
  }
}

@keyframes big {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.5);
  }
  100%{
    transform: scale(1);
  }
}

.status{
  .records{
    display: none;
  }
  &.logged{
    .records{
      display: unset;
    }
    .lager-member-zone{
      display: none;
    }
  }
}

.record-list{
  .no-records{
    display: none;
  }
  &.no-record{
    .no-records{
      display: unset;
    }
    .record-exists{
      display: none;
    }
  }
}

dl.no-records{
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 1.25em;
  width: 100%;
  dd{
    padding: 1rem 1rem 0 1rem;
    border-top: 1px dotted $custom-3;
  }
}

// 我要參加

.join{
  padding-top: 0.5em;
  text-align: center;
  a{
    padding: 0.15em 0.5em 0.25em;
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: $custom-3;
    border-radius: 5em;
  }
}

// footer

footer{
  padding: 2em 1em;
  text-align: center;
  font-weight: initial;
  color: $custom-2;
  background-color: white;
}

// 領取的動畫
@keyframes zoom {
  0%{
    transform: scale(0);
  }
  100%{
    transform: scale(1);
  }
}

// RWD 自適應設定 ...................................................................

@import "rwd";